body {
  background: #e8e7e7;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
header{
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #8063FA;
  border-bottom: solid 2px #D4CAFF;
}
header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}
button,
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}
svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
  fill: #F0F0F0;
}
@keyframes grow {
  50% { transform: scale(1.4) rotate(-3deg); }
}
.scoreboard {
  background: #FFF;
  width: 700px;
  margin: 70px auto;
  box-shadow: 0 2px 0 rgb(133, 104, 250);
  border-radius: 6px;
  overflow: hidden;
}
.player {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
}
.player-name,
.counter-score {
  color: #2F2366;
}
.player-name {
  flex-grow: 1;
  line-height: 3.5em;
  padding-left: 10px;
}
.remove-player {
  font-size: 1.15em;
  border: none;
  outline: none;
  
  color: #EF5350;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 0;
  background: none;
}
.stats {
  margin: 0 0 0 28px;
  font-weight: normal;
}
.counter {
  display: flex;
  width: 190px;
}
.counter-action {
  border: none;
  font-size: 1.15em;
  font-weight: bold;
  color: #B0AEBA;
  background-color: #DCDCDC;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  outline: none;
}
.counter-action:hover {
  color: #fff;
}
.increment:hover {
  background: #83D97C;
}
.decrement:hover {
  background: #EF5350;
}
.counter-score {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  line-height: 2em;
}